@font-face {

    font-family: 'UTM_HelvetIns';

    src: url('../fonts/UTMHelvetIns.eot');

    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')

    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')

    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family:SFUFuturaBold;

    src: url(../fonts/SFUFuturaBold.TTF);

    url('../fonts/SFUFuturaBold.woff2?v=4.3.0') format('woff2'),

    url('../fonts/SFUFuturaBold.woff?v=4.3.0') format('woff'),

    url('../fonts/SFUFuturaBold.ttf?v=4.3.0') format('truetype'),

    url('../fonts/SFUFuturaBold.svg?v=4.3.0#fontawesomeregular') format('svg');

}

@font-face {

    font-family:OpenSansRegular;

    src: url(../fonts/OpenSansRegular.ttf);

    url('../fonts/OpenSansRegular.woff2?v=4.3.0') format('woff2'),

    url('../fonts/OpenSansRegular.woff?v=4.3.0') format('woff'),

    url('../fonts/OpenSansRegular.ttf?v=4.3.0') format('truetype'),

    url('../fonts/OpenSansRegular.svg?v=4.3.0#fontawesomeregular') format('svg');

}

@font-face {

    font-family:OpenSansBold_0;

    src: url(../fonts/OpenSansBold_0.ttf);

    url('../fonts/OpenSansBold_0.woff2?v=4.3.0') format('woff2'),

    url('../fonts/OpenSansBold_0.woff?v=4.3.0') format('woff'),

    url('../fonts/OpenSansBold_0.ttf?v=4.3.0') format('truetype'),

    url('../fonts/OpenSansBold_0.svg?v=4.3.0#fontawesomeregular') format('svg');

}



p {

    margin: 0px;

}



a {

    text-decoration: none;

    color: #333333;

}



a:hover,

a:focus {

    color: #0d7cd6;

    text-decoration: none;

}



* {

    margin: 0px;

    padding: 0px;

}



ul, ol {

    padding: 0;

    margin: 0;

}



li {

    list-style: none;

}

h1,h2,h3,h4,h5,h6{

    margin: 0;

}



.fixed {

    position: fixed !important;

    top: 0px;

    z-index: 99;

    width: 100%;

}

.clearfix-130{

    clear: both;

    height: 130px;

}

.clearfix-100{

    clear: both;

    height: 100px;

}

.clearfix-80{

    clear: both;

    height: 80px;

}

.clearfix-60{

    clear: both;

    height: 60px;

}

.clearfix-55{

    clear: both;

    height: 55px;

}

.clearfix-50{

    clear: both;

    height: 50px;

}

.clearfix-45{

    clear: both;

    height: 45px;

}

.clearfix-40{

    clear: both;

    height: 40px;
    width: 100%;

}

.clearfix-35{

    clear: both;

    height: 35px;

}

.clearfix-30{

    clear: both;

    height: 30px;

}

.clearfix-32{

    clear: both;

    height: 32px;

}

.clearfix-25{

    clear: both;

    height: 25px;

}

.clearfix-20{

    clear: both;

    height: 20px;

}

.clearfix-15{

    clear: both;

    height: 15px;

}

.clearfix-12{

    clear: both;

    height: 12px;

}

.clearfix-10{

    clear: both;

    height: 10px;

}

.clearfix-5{

    clear: both;

    height: 5px;

}



body {

    background: #fff;

    font-size: 12px;

    font-family: arial;

    color: #000;

}



del {

    font-size: 12px;

    color: #999;

}



/*===========All=============*/ 

.w_100 {

    width: 100%;

}



.w_40 {

    width: 40%;

}



.w_60 {

    width: 60%;

}



/*==========Main============*/

.menu_mb{

    position: fixed;

    width: 100%;

    background: #ffffff;

    z-index: 999;

    padding: 1px 15px;

    border-bottom: 1px solid #ccc;

}

#go_top {

    position: fixed;

    width: 24px;

    height: 25px;

    background: #000;

    color: #fff;

    text-align: center;

    line-height: 25px;

    font-size: 18px;

    font-weight: bold;

    background-size: 100% 100%;

    display: inline-block;

    z-index: 100;

    bottom: 25px;

    right: 25px;

}

.img_logo_mb{

    max-height: 60px;

    max-width: 70%

}

.menu_main .nav.is-fixed{

    position: relative;

    z-index: 105;

}



.logo_pc a {

    float: left;

}

.logo_pc .txt_logo_pc {

    font-size: 24px;

  font-family: SFUFuturaBold;

    color: #333333;

   text-transform: uppercase;

   display: block;

   float: left;

   margin-top: 6px;



}

.logo_pc img {

    margin-right: 20px;

}

.logo_pc {

    margin: 5px 0;

}

.list-unstyled ul li {

   display: inline-block;

    margin-right: 15px;

}

.list-unstyled ul li:last-child {

    margin:0;

}

.list-unstyled ul li a {

    font-size: 14px;

 

    color: #333333;

    display: inline-block;

}

.list-unstyled ul li a:hover {

    text-decoration: underline;

}

.list-unstyled ul  {

    margin:22px 0;

}

.qts_head_top{

    padding: 15px

}













/*bieu do TNMT*/

.header .pull-left a {

    color: #919191;

}

.header {

    font-size: 14px;

}

.statistic h2 {

    background: #35baf6;

    color: #fff;

    font-size: 15px;

    padding: 10px;

    /*margin-bottom: 40px;*/

}

/*.static{

    display: flex;

}*/

.tk_left {

    float: left;

    font-size: 14px;

    text-align: center;

    /* margin-top: 40px; */

    padding: 40px 5px 0px 5px;

    width: 20%;

}

.tk_right{

    float: left;

    width: 80%;

}

.style1, .style2{

    color: #fff;

    background: #35baf6;

    width: 100%;

    max-width: 37px;

    height: 19px;

    border-radius: 5px;

    margin: auto;

    font-weight: bold;

}

.style2 {

    width: 100%;

    max-width: 45px;

    background: #e44959;

    color: #fff;

}

.style3{

    color: #404040;

    font-weight: bold;

}

/*end bieu do TNMT*/



.highcharts-exporting-group{

    display: none;

}

text.highcharts-credits {

    display: none;

}

.statistic {

    border: 1px solid #35baf6;

}

.tk_left p {

    margin-bottom: 5px;

}

.tk_right table tr th {

    border-bottom: 1px solid #ccc;

    width: 50%;

} 


#many_post,#negative_statistics {

    height: 400px; 

    min-width: 310px; 

    max-width: 800px;

    margin: 0 auto;

}

.title-vd{

    background: #35baf6;

}

.title-vd a.btn.pull-right {

    border: 1px solid #fff;

    color: #fff;

    margin-top: 5px;

}



#donut_statistic g.highcharts-data-labels.highcharts-series-0.highcharts-pie-series.highcharts-tracker {

    display: none;

}

#many_post g.highcharts-point.highcharts-color-0 {

    stroke: #8BA210;

}

#many_post path.highcharts-3d-front {

    fill: #BEDC1E;

}

#many_post path.highcharts-3d-side{

    fill: #8BA210;

}



#negative_statistics g.highcharts-point.highcharts-color-0 {

    stroke: #EE929D;

}

#negative_statistics path.highcharts-3d-front {

    fill: #EE929D;

}

#negative_statistics path.highcharts-3d-side{

    fill: #EE929D;

}



#many_post g.highcharts-legend, #negative_statistics g.highcharts-legend{

    display: none;

} 
.highcharts-background{
    fill: transparent;
}
.highcharts-axis-labels.highcharts-xaxis-labels{
    display: none;
}
.highcharts-axis.highcharts-xaxis{
    display: none;
} 
/* update 6/9/2019 -----> */
.form-search-tk {
    max-width: 600px;
    margin: auto;
}
.btn-search-tk button{
    border: 0px;
    padding: 9px 12px;

}
.btn-search-tk{
    padding: 0px;
}